body {
    margin: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.bar {
    fill: #e0e0e0;
}


.hoverBar {
    fill: #fe7c1f;
    opacity:0;
    /* rx: 20px;
    ry: 20px; */
}

.hoverBar.hovered {
    opacity:1;
   
}

.bar.hovered {
    fill: #fe7c1f;
    opacity:.6 !important;
   
}

circle.member.hovered {
    fill: #fe7c1f !important;
   
}

.bar.clicked {
    fill: #fe7c1f;
    opacity:.8 !important;
   
}

.hoverBar.clicked {
    opacity:1 ;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible{
    opacity:.2
}

.tourGroup{
    margin:20px;
}
.bar-label{
    fill:#295E9B;
    font-size: 13px;
    font-weight: bold;
}
.intersection-size .bar:hover {
    fill: #295E9B;
    transition: fill 250ms ease-in-out;
}

.combination circle {
    fill: #fcfcfc;
    stroke: #e0e0e0;
}
.combination circle.member {
    fill: #295E9B;
}

.axis-title {
    font-size: .8rem;
}

#tooltip {
    color: #7c7b7b;
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: .8rem;
    font-weight: 600;
    padding: 2px 8px;

}

.title-text {
    fill: #295E9B;

}

.title-text_2 {
    fill: #aeacac;

}