body {
    margin: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}



.axis-title {
    font-size: .8rem;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}



.d3-tip {
    padding: 2px;
    font-size: 11px;
}

.d3-tip2 {
    padding: 2px;
    font-size: 11px;
}

.d3-tip3 {
    padding: 2px;
    font-size: 11px;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#chartholder {
    height: 400px;
    width: 600px;
}

.bar {
    display: inline-block;
    width: 15px;
    height: 10px; /* Gets overridden by D3 height below */
    margin-right: 2px;
    background-color: teal;
}

